<button	(click)="logEmployees()">Log</button>
<div class="filter-div">
  <p>
    フィルター
  </p>
  <button	(click)="changeFilter(0)" [class.selected]="filter === 0">なし</button>
  <button	(click)="changeFilter(3)" [class.selected]="filter === 3">ID</button>
  <button	(click)="changeFilter(2)" [class.selected]="filter === 2">名前</button>
  <button	(click)="changeFilter(1)" [class.selected]="filter === 1">所属部署コード</button>
</div>
  <div class="filter-details" *ngIf="filter != 'all'" >
    <input [(ngModel)]="query" type="text" placeholder="検索条件"/>
    <button (click)="getWithFilter()"> 検索　</button>
  </div>
<table class="heroes">
  <tr>
    <td class="badge">ID</td><td>コード</td><td>名前</td><td>入社日</td><td>所属部署コード</td>
  </tr>
  <tr *ngFor="let employee of employees">
    <td class="badge">
      <span>{{employee.id}}</span>
    </td>
    <td>
      <span>{{employee.code}}</span>
    </td>
    <td>
          <span>{{employee.name}}</span>
    </td>
    <td>
      {{employee.join_date}}  </td>
    <td>
      {{employee.dept_code}}
      <a routerLink="/edit/{{employee.id}}">
        <img class="edit-image" src="../../assets/edit.png" height="16" width="16"/>
      </a>
    </td>
  </tr>
</table>
